.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #fff; */
  /* background: 
  linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px; */
  background-color:#708090;
  background-size: 64px 128px;
  align-items: center;
}

.tb{
  font-weight: bold;
}

.text-sign{
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 30px;
  transform: rotate(-10deg);
}

.btn{
  background-color: #fff;
  border: none;
  margin: 10px;
  padding: 10px;
  /* border-radius: 10px; */
  cursor: pointer;
  color: #111;
}

.btn:active{
  opacity: .8;
}

.box{
  min-width: 50px;
  min-height: 50px;
  background-color: tomato;
  cursor: pointer;
}
.box:hover{
  opacity: .8;
}
.circle{
  border-radius: 100px;
}
.df{
  display: flex;
}
.m-2{
  margin: 2px;
}